# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Working directories
out/
wavs/
DUMMY/
LJSpeech*

# Model checkpoints
*.pt
*.ckpt
ckpt/
checkpoints/

# Generated samples
samples/
generated_*
